APP_NAME="Purrfect Match"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

FRONTEND_URL=http://localhost:3000
SANCTUM_STATEFUL_DOMAINS=localhost:3000,127.0.0.1:3000,localhost:3001,127.0.0.1:3001,localhost,127.0.0.1

SESSION_DOMAIN=null
SESSION_SAME_SITE=lax

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5433
DB_DATABASE=purrfect_match
DB_USERNAME=purrfect
DB_PASSWORD=purrfect

SESSION_DRIVER=database
SESSION_LIFETIME=120

FILESYSTEM_DISK=public

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6380

CACHE_STORE=redis
QUEUE_CONNECTION=redis
BROADCAST_CONNECTION=reverb

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@purrfectmatch.test"
MAIL_FROM_NAME="${APP_NAME}"

WASEL_API_URL=https://wasl.itsyosefali.cloud/api/v1

REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
